DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT_REF.supabase.co:6543/postgres?sslmode=require
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
PORT=3000
ADMIN_SECRET=change-me-admin
