DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT_REF.supabase.co:6543/postgres?sslmode=require
REDIS_URL=redis://redis:6379/0
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
PORT=3000
ADMIN_SECRET=change-me-admin
